/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}


#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ant-btn-primary {
  align-items: center;
  background: #03497a;
  background: var(--btn-bg-primary);
  color: #fff;
  color: var(--text-white);
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  padding: .625rem 1rem;
  height: auto;
}


/* :where(.css-dev-only-do-not-override-ub8rnb).ant-input-number-outlined:focus-within {
  border-color: transparent;
}

:where(.css-dev-only-do-not-override-ub8rnb).ant-picker-outlined,
:where(.css-dev-only-do-not-override-ub8rnb).ant-input-number .ant-input-number-input,
:where(.css-dev-only-do-not-override-ub8rnb).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  padding: .875rem 1rem;
  border-color: #0077bd;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.88);
}

:where(.css-dev-only-do-not-override-ub8rnb).ant-picker-outlined:hover {
  background-color: #fff;
  border-color: #0077bd;
}

:where(.css-dev-only-do-not-override-ub8rnb).ant-btn-variant-outlined,
:where(.css-dev-only-do-not-override-ub8rnb).ant-btn-variant-dashed {

  background: var(--mantion-select-hover);
  height: auto;
  padding: .75rem 1rem;
  width: auto;
}

:where(.css-dev-only-do-not-override-ub8rnb).ant-btn-variant-dashed:hover,
:where(.css-dev-only-do-not-override-ub8rnb).ant-btn-variant-outlined:hover {
  border-color: #03497a;
  border-color: var(--text-quaternary);
  color: #03497a;
  color: var(--mantion-select-hover-btn);
} */









/* ant design  */
.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-btn-variant-dashed:hover,
.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-btn-variant-outlined:hover {
  border-color: var(--text-quaternary);
  color: var(--mantion-select-hover-btn);
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-select-selector {
  padding: .875rem 1rem;
  border-color: #0077bd;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.88);
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-form .ant-form-item-control .ant-input-number-input,
.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-form .ant-form-item-control .ant-form-item-control-input .ant-input {
  padding: .875rem 1rem;
  border: .0625rem solid #0077bd;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.88);
}

.ant-input-number-outlined {
  border: none;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-picker,
.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-input-number-input,
.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-input {
  font-size: .875rem;
  height: 2.1875rem;
  padding: .875rem 1rem;
  border: .0625rem solid #0077bd;
  background-color: #fff;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-select-focused .ant-select-selector:focus {
  box-shadow: none !important;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-input-number-outlined:focus-within {
  box-shadow: none !important;
}

.ant-input-group-wrapper .ant-input-wrapper .ant-input-search-button,
.ant-input-group-wrapper .ant-input-wrapper .ant-input-affix-wrapper {
  background-color: #fff;
}

.ant-modal-wrap .ant-modal-content .ant-modal-body .ant-form-item {
  margin-bottom: 10px;
}

.ant-modal-wrap .ant-modal-content .ant-modal-footer .text-btn:hover {
  background-color: #ffff;
  color: var(--btn-bg-primary-hover);
}

.text-btn {
  align-items: center;
  background: #cccccc44;
  background: var(--mantion-select-hover);
  border-color: #d1d1d1;
  border-color: var(--border-color);
  color: #121212;
  color: var(--text-primary);
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  padding: .625rem 1rem;
  height: auto;
}

.ant-layout .ant-layout-header .text-btn:hover {
  background-color: #ffff;
  color: var(--btn-bg-primary-hover);
}