.ant-input-number,
.item-wrapper .ant-input-number,
.item-wrapper .ant-form-item {
    width: 100%;
}

.modal-content.scroll {
    max-height: calc(100vh - 350px);
}

.modal-footer .ant-form-item .ant-form-item-control-input-content {
    justify-content: flex-end;
    gap: 8px;
    margin-top: 5px;
    display: flex;
}

.line-items {
    margin-top: 25px;
}

.item-wrapper {
    margin: 10px 0;
}

.item-wrapper .delete-btn {
    margin: 0;
}

.delete-invoice {
    background-color: red;
    color: #fff;
}

.delete-invoice:disabled {
    background-color: #ccc;
    color: #fff;
}