.loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.loginCard {
  width: 100%;
  max-width: 400px;
  background-color: inherit;
  border: none;
}

.loginCard :global(.ant-card-head-title) {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.loginCard input {
  border-color: #0077bd;
  padding: 14px 16px;
}

.login-form-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-group .ant-input-outlined {
  padding: 14px 16px;
  border-color: #0077bd;
}

.ant-input-prefix {
  margin-inline-end: 6px;
}

.ant-input {
  line-height: 1;
  color: var(--text-primary);
}

.error {
  color: var(--text-danger);
  margin-top: 2px;
}


.ant-form-item .form-group .ant-btn {
  width: 100%;
  padding: 12px 16px;
  background: var(--bg-secondary);
  color: #fff;

}


.ant-form-item .form-group .ant-btn:hover {
  background: var(--bg-primary);
}