.mail-dashboard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.mail-dashboard .sidebar {
  width: 256px;
  height: 100svh;
  max-height: calc(100vh - 105px);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.mail-dashboard .user-info {
  padding: 16px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.mail-dashboard .user-email {
  display: block;
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 500;
  color: #001d35;
}

.logout-button {
  background: none;
  border: none;
  color: #5f6368;
  cursor: pointer;
  font-size: 0.9em;
  padding: 0;
}

.logout-button:hover {
  color: #202124;
}

.compose-btn {
  display: block;
  background-color: #c2e7ff;
  color: #001d35;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
  transition: box-shadow 0.2s;
}

.compose-btn span,
.mail-dashboard .nav-menu .nav-item span {
  margin-right: 15px;
}

.compose-btn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mail-dashboard .nav-menu {
  padding: 0;
}

.mail-dashboard .nav-menu .nav-item {
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: #202124;
  text-decoration: none;
  border-radius: 16px;
  margin-right: 8px;
  transition: background-color 0.2s;
}

.nav-item i {
  margin-right: 12px;
  font-size: 1.1em;
}

.nav-item:hover {
  background-color: #e8eaed;
}

.nav-item.active {
  background-color: #d3e3fd;
  color: #041e49;
  font-weight: 500;
}

.mail-dashboard .main-content {
  flex: 1;
  padding: 0 20px;
  overflow: auto;
}

.mail-dashboard .search-bar {
  background: #fff;
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 50px;
  max-width: 500px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.search-bar form {
  width: 100%;
  display: flex;
}

.search-bar input {
  flex: 1;
  padding: 8px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border-color 0.2s;
}

.search-bar input:focus {
  border-color: #1a73e8;
}




.search-bar button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.search-bar input:disabled {
  background: #f5f5f5;
  cursor: not-allowed;
}

.search-bar i {
  font-size: 1em;
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}